:root { 
    --geladeira: #ffa2e8;
    --branco: #FFFFFF;
    
  }
  body {
    background-color: var(--geladeira);
    color: var(--branco);
    font-family: 'Georgia', serif;
    
}

.Funny {width: 0,7%;}
