:root {
    --background-color: #000000;
    --branco: #FFFFFF;
    
  }
  body {
    background-color: var(--background-color);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

  