:root { 
    --geladeira: #ffc0ef;
    --branco: #FFFFFF;
    
  }
  body {
    background-color: var(--geladeira);
    color: var(--branco);
    font-family: 'Georgia', serif;
    
}

.Funny {width: 40%;}
span{ 
  color:blue;
  
}